<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>The 1140px Grid &middot; Fluid down to mobile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../css/1140.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="../css/styles.css" type="text/css" media="screen" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
	<style type="text/css">
		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			background: #F8F8F5;
		}
		.container h2 {
			/* color: #fff; */
			line-height: 60px;
			margin: 20px 0 0 0;
		}
		.container h1 {
			/* color: #fff; */
			line-height: 100px;
			margin: 20px 0 0 0;
		}
	</style>

</head>
<body>

	<div class="container">
		<div class="row">
			<div class="sevencol last">
				<h1>鉴定报告</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div id="main" class="fivecol" style="width: 400px;height:400px;"></div>
			<script type="text/javascript">
				var Pie = document.getElementById('main');
				var myChart = echarts.init(Pie);
				var option;
				option = {
					tooltip: {
						trigger: 'item',
						formatter: '{a} <br/>{b}: {c} ({d}%)'
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							selectedMode: 'single',
							radius: [0, '30%'],
							label: {
								position: 'inner',
								fontSize: 10
							},
							legend: {
								show: false
							},
							labelLine: {
								show: false
							},
							data: [
								{ value: 1548, name: 'Search Engine' },
								{ value: 775, name: 'Direct' },
								{ value: 679, name: 'Marketing', selected: true }
							]
						},
						{
							name: 'Access From',
							type: 'pie',
							radius: ['45%', '60%'],
							data: [
								{ value: 1048, name: 'Baidu' },
								{ value: 335, name: 'Direct' },
								{ value: 310, name: 'Email' },
								{ value: 251, name: 'Google' },
								{ value: 234, name: 'Union Ads' },
								{ value: 147, name: 'Bing' },
								{ value: 135, name: 'Video Ads' },
								{ value: 102, name: 'Others' }
							]
						}
					]
				};
				option && myChart.setOption(option);
			</script>
			<div class="sevencol last">
				<h2></h2>
				<h2></h2>
				<h2>经过专业的鉴定，您是专一的伊波杏树推</h2>
				<p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>	
				<p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴巴拉巴拉巴拉</p>	
				<p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>	
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="threecol">
			</div>
			<div class="sixcol">
			</div>
			<div class="threecol last"  style="text-align: right;">
				<p>Three columns</p>
			</div>
		</div>
	</div>


</body>
<script id="ribbon" size="250" alpha='0.3' zIndex="-1" src="../js/canvas-ribbon.min.js"></script>

</html>