<!DOCTYPE html>
<html style="height: 100%">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>验证码体验器</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.0-beta.7/vue.global.prod.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-router/4.0.10/vue-router.global.prod.min.js"></script>
    <link rel="stylesheet" href="./css/bbk.css">
</head>

<body>
    <div id="app" data-v-app="">
        <div>
            <div class="captcha-box">
                <div class="head-box">
                    <p>选择所有包含</p>
                    <h2>大吉山</h2>
                    <p>的图片，点按后请点击“验证”。</p><img src="D:\Project\LLDD\picture\anju_inami_cut\1.jpg" class="cover">
                </div>
                <div class="images-box">
                    <!-- <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div>
                    <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div>
                    <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div>
                    <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div>
                    <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div>
                    <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div>
                    <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div>
                    <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div>
                    <div class="image-item"><i
                            style="background-image: url(&quot;D:\Project\LLDD\picture\anju_inami_cut\1.jpg&quot;);"></i>
                    </div> -->
                </div>
                <div class="ctrl-box">
                    <div class="left-box">
                        <button class="reset icon">
                            <svg viewBox="0 0 24 24">
                                <path d="M21,3v7h-7l2.9-2.9C15.7,5.8,13.9,5,12,5c-3.9,0-7,3.1-7,7s3.1,7,7,7c3.2,0,5.9-2.2,6.8-5.2l2,0.4c-1,3.9-4.5,6.7-8.7,6.7c-5,0-9-4-9-9s4-9,9-9c2.5,0,4.7,1,6.4,2.6L21,3z"></path>
                            </svg>
                        </button>
                        <button class="icon">
                            <svg viewBox="0 0 24 24">
                                <path
                                    d="M6,10.4L4.6,9L12,1.6L19.4,9L18,10.4l-6-6L6,10.4z M12,19.6l-6-6L4.6,15l7.4,7.4l7.4-7.4L18,13.6L12,19.6z">
                                </path>
                            </svg>
                        </button>
                        <button class="tip icon">
                            <svg viewBox="0 0 24 24">
                                <path
                                    d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M12,20c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8 S16.4,20,12,20z M11,7h2v2h-2V7z M11,10h2v7h-2V10z">
                                </path>
                            </svg>
                        </button>
                        <span class="log-item"><b>0</b>/2</span>
                    </div>
                    <button class="blue">验证</button>
                </div>
                <!---->
                <div class="alert-box success" style="display: none;"><i class="icon"></i>
                    <p>恭喜猜对了，一定是爬了很多次大吉山的美少女</p>
                </div>
                <div class="alert-box wrong" style="display: none;"><i class="icon"></i>
                    <p>再多爬几次试试？</p>
                </div>
            </div>
        </div>
    </div>



</body>

</html>