<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Beginning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/jquery-labelauty.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/element-plus/dist/index.full.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css" />
    <link rel="stylesheet" href="../static/css/1140.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../static/css/jquery-labelauty.css">
</head>

<body style="background: #F8F8F5;">
    <a href="https://github.com/Uahh/LLDD" target="_blank" class="github-corner">
        <svg width="80" height="80" viewBox="0 0 250 250"
            style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path
                d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
            <path
                d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                fill="currentColor" class="octo-body"></path>
        </svg>
    </a>
    <div class="container">
        <div class="row">
            <div class="threecol">
            </div>
            <div class="sixcol">
                <h1 style="line-height: 100px;margin: 20px 0 0 0;color: #1ea0fa;">
                    LoveLive DD鉴定器
                </h1>
            </div>
            <div class="threecol last">
                <h5 style="line-height: 30px; color:#1ea0fa; margin-top: 15;">
                    Language
                </h5>
                <div id="select_language" style="right: 0px; bottom: 0px;">
                    <el-select v-model="value" placeholder="Select" size="mini">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="threecol">
            </div>
            <div class="sixcol" style="width: 230px;">
                <div id="input_id">
                    <h5 style="line-height: 30px; color:#1ea0fa;">
                        请输入您的ID：
                    </h5>
                    <el-input v-model="input" name="get_input" v-on:input="inputFunc"
                        placeholder="Please input" />
                </div>
            </div>
            <div class="threecol last">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="threecol">
            </div>
            <div class="sixcol" style="text-align: center;">
                <h5 style="text-align: left; margin: 20px 0px 0px 5px; color:#e4007f; ">μ's</h5>
                <fieldset id="μ's" style="border-width: 0px; text-align: left;">
                    <div style="float:left;padding:5px 5px 5px;"><input class="Nitta_Emi" type="checkbox"
                            name="idol_list" value="Nitta_Emi" data-labelauty="Nitta Emi|Nitta Emi" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Nanjo_Yoshino" type="checkbox"
                            name="idol_list" value="Nanjo_Yoshino" data-labelauty="Nanjo Yoshino|Nanjo Yoshino" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Uchida_Aya" type="checkbox"
                            name="idol_list" value="Uchida_Aya" data-labelauty="Uchida Aya|Uchida Aya" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Mimori_Suzuko" type="checkbox"
                            name="idol_list" value="Mimori_Suzuko" data-labelauty="Mimori Suzuko|Mimori Suzuko" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Iida_Riho" type="checkbox"
                            name="idol_list" value="Iida_Riho" data-labelauty="Iida Riho|Iida Riho" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Pile" type="checkbox" name="idol_list"
                            value="Pile" data-labelauty="Pile|Pile" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Kusuda_Aina" type="checkbox"
                            name="idol_list" value="Kusuda_Aina" data-labelauty="Kusuda Aina|Kusuda Aina" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Kubo_Yurika" type="checkbox"
                            name="idol_list" value="Kubo_Yurika" data-labelauty="Kubo Yurika|Kubo Yurika" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Tokui_Sora" type="checkbox"
                            name="idol_list" value="Tokui_Sora" data-labelauty="Tokui Sora|Tokui Sora" /></div>
                </fieldset>
                <h5 style="text-align: left; margin: 20px 0px 0px 5px; color: #00A1E9;">Aqours</h5>
                <fieldset id="Aqours" style="border-width: 0px; text-align: left;">
                    <div style="float:left;padding:5px 5px 5px;"><input class="Inami_Anju" type="checkbox"
                            name="idol_list" value="Inami_Anju" data-labelauty="Inami Anju|Inami_Anju" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Aida_Rikako" type="checkbox"
                            name="idol_list" value="Aida_Rikako" data-labelauty="Aida Rikako|Aida_Rikako" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Suwa_Nanaka" type="checkbox"
                            name="idol_list" value="Suwa_Nanaka" data-labelauty="Suwa Nanaka|Suwa Nanaka" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Komiya_Arisa" type="checkbox"
                            name="idol_list" value="Komiya_Arisa" data-labelauty="Komiya Arisa|Komiya Arisa" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Saito_Shuka" type="checkbox"
                            name="idol_list" value="Saito_Shuka" data-labelauty="Saito Shuka|Saito Shuka" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Kobayashi_Aika" type="checkbox"
                            name="idol_list" value="Kobayashi_Aika" data-labelauty="Kobayashi Aika|Kobayashi Aika" />
                    </div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Takatsuki_Kanako" type="checkbox"
                            name="idol_list" value="Takatsuki_Kanako"
                            data-labelauty="Takatsuki Kanako|Takatsuki Kanako" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Suzuki_Aina" type="checkbox"
                            name="idol_list" value="Suzuki_Aina" data-labelauty="Suzuki Aina|Suzuki Aina" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Furihata_Ai" type="checkbox"
                            name="idol_list" value="Furihata_Ai" data-labelauty="Furihata Ai|Furihata Ai" /></div>
                </fieldset>
                <h5 style="text-align: left; margin: 20px 0px 0px 5px; color:#CB3935;;">Saint Snow</h5>
                <fieldset id="Saint Snow" style="border-width: 0px; text-align: left;">
                    <div style="float:left;padding:5px 5px 5px;"><input class="Tano_Asami" type="checkbox"
                            name="idol_list" value="Tano_Asami" data-labelauty="Tano Asami|Tano Asami" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Sato_Hinata" type="checkbox"
                            name="idol_list" value="Sato_Hinata" data-labelauty="Sato Hinata|Sato Hinata" /></div>
                </fieldset>
                <h5 style="text-align: left; margin: 20px 0px 0px 5px; color:#f39800;">虹ヶ咲学園スクールアイドル</h5>
                <fieldset id="虹ヶ咲学園スクールアイドル" style="border-width: 0px; text-align: left;">
                    <div style="float:left;padding:5px 5px 5px;"><input class="Onishi_Aguri" type="checkbox"
                            name="idol_list" value="Onishi_Aguri" data-labelauty="Onishi Aguri|Onishi Aguri" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Sagara_Mayu" type="checkbox"
                            name="idol_list" value="Sagara_Mayu" data-labelauty="Sagara Mayu|Sagara Mayu" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Maeda_Kaori" type="checkbox"
                            name="idol_list" value="Maeda_Kaori" data-labelauty="Maeda Kaori|Maeda Kaori" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Kubota_Miyu" type="checkbox"
                            name="idol_list" value="Kubota_Miyu" data-labelauty="Kubota Miyu|Kubota Miyu" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Murakami_Natsumi" type="checkbox"
                            name="idol_list" value="Murakami_Natsumi"
                            data-labelauty="Murakami Natsumi|Murakami Natsumi" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Kito_Akari" type="checkbox"
                            name="idol_list" value="Kito_Akari" data-labelauty="Kito Akari|Kito Akari" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Kusunoki_Tomori" type="checkbox"
                            name="idol_list" value="Kusunoki_Tomori" data-labelauty="Kusunoki Tomori|Kusunoki Tomori" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Sashide_Maria" type="checkbox"
                            name="idol_list" value="Sashide_Maria" data-labelauty="Sashide Maria|Sashide Maria" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Tanaka_Chiemi" type="checkbox"
                            name="idol_list" value="Tanaka_Chiemi" data-labelauty="Tanaka Chiemi|Tanaka Chiemi" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Koizumi_Moeka" type="checkbox"
                            name="idol_list" value="Koizumi_Moeka" data-labelauty="Koizumi Moeka|Koizumi Moeka" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Uchida_Shu" type="checkbox"
                            name="idol_list" value="Uchida_Shu" data-labelauty="Uchida Shu|Uchida Shu" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Houmoto_Akina" type="checkbox"
                            name="idol_list" value="Houmoto_Akina" data-labelauty="Houmoto Akina|Houmoto Akina" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Yano_Hinaki" type="checkbox"
                            name="idol_list" value="Yano_Hinaki" data-labelauty="Yano Hinaki|Yano Hinaki" /></div>
                </fieldset>
                <h5 style="text-align: left; margin: 20px 0px 0px 5px; color:#A5469B;;">Liella!</h5>
                <fieldset id="Liella!" style="border-width: 0px; text-align: left;">
                    <div style="float:left;padding:5px 5px 5px;"><input class="Date_Sayuri" type="checkbox"
                            name="idol_list" value="Date_Sayuri" data-labelauty="Date Sayuri|Date Sayuri" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Liyuu" type="checkbox" name="idol_list"
                            value="Liyuu" data-labelauty="Liyuu|Liyuu" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Misaki_Nako" type="checkbox"
                            name="idol_list" value="Misaki_Nako" data-labelauty="Misaki Nako|Misaki Nako" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Payton_Naomi" type="checkbox"
                            name="idol_list" value="Payton_Naomi" data-labelauty="Payton Naomi|Payton Naomi" /></div>
                    <div style="float:left;padding:5px 5px 5px;"><input class="Aoyama_Nagisa" type="checkbox"
                            name="idol_list" value="Aoyama_Nagisa" data-labelauty="Aoyama Nagisa|Aoyama Nagisa" /></div>
                </fieldset>
            </div>
            <div class="threecol last">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="threecol">
            </div>
            <div class="sixcol">
                <div id="submit_button" style="line-height: 60px; text-align: center;">
                    <el-button id="start" type="primary">开始鉴定</el-button>
                </div>
            </div>
            <div class="threecol last">
            </div>
        </div>
    </div>
</body>

<script>
    const { defineComponent, ref } = Vue;
    var Main1 = {
        setup() {
            return {
                input: ref(''),
            }
        },

    };

    var Main2 = {

    };

    var Main3 = {
        setup() {
            return {
                options: ref([
                    {
                        value: 'Chinese',
                        label: 'Chinese',
                    },
                    {
                        value: 'Japanese',
                        label: 'Japanese',
                    },
                    {
                        value: 'English',
                        label: 'English',
                    }
                ]),
                value: ref(''),
            }
        },
    };

    const input_id = Vue.createApp(Main1);
    input_id.use(ElementPlus);
    input_id.mount("#input_id");

    const submit_button = Vue.createApp(Main2);
    submit_button.use(ElementPlus);
    submit_button.mount("#submit_button");

    const select_language = Vue.createApp(Main3);
    select_language.use(ElementPlus);
    select_language.mount("#select_language");

    $(function () {
        $("#start").click(function () {
            var select_data = $('input:checkbox[name="idol_list"]:checked').map(function () {
                return $(this).val();
            });
            var user_id = $('input[name="get_input"]').val();
            // console.log(user_id)
            var json_data = {};
            json_data.user_id = user_id;
            json_data.select_idols = [];
            json_data.questions = [];
            json_data.back_up = [];
            for (var i = 0; i < select_data.length; i++) {
                json_data.select_idols.push(select_data[i]);
                json_data.questions.push(select_data[i]);
                json_data.back_up.push(select_data[i]);
            }
            // console.log(JSON.stringify(json_data))
            $.post('http://{{ url }}/picture', JSON.stringify(json_data), function (data, status) {
                // console.log(status);
                document.write(data);
            })
        });
    });
</script>
<script id="ribbon" size="250" alpha='0.3' zIndex="-1" src="../static/js/canvas-ribbon.min.js"></script>
<script>
    $(document).ready(function () {
        $(":checkbox").labelauty();
        $(":radio").labelauty();
    });
</script>

</html>
