<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>The 1140px Grid &middot; Fluid down to mobile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../static/css/1140.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="../static/css/styles.css" type="text/css" media="screen" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
	<style type="text/css">
		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			background: #F8F8F5;
		}
		.container h2 {
			/* color: #fff; */
			line-height: 60px;
			margin: 20px 0 0 0;
		}
		.container h1 {
			/* color: #fff; */
			line-height: 100px;
			margin: 20px 0 0 0;
		}
	</style>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="sevencol last">
				<h1>鉴定报告</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div id="main" class="fivecol" style="width: 400px;height:400px;"></div>
			<script type="text/javascript">
				var Pie = document.getElementById('main');
				var myChart = echarts.init(Pie);
				var option;
				option = {
					tooltip: {
						trigger: 'item',
						formatter: '{b}: {c} ({d}%)'
						// formatter: '{a} <br/>{b}: {c} ({d}%)'
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							selectedMode: 'single',
							radius: [0, '30%'],
							label: {
								position: 'inner',
								fontSize: 10
							},
							legend: {
								show: false
							},
							labelLine: {
								show: false
							},
							data: [
								// { value: 679, name: 'Marketing', selected: true },
								{{ Ms|safe }}
								{{ Aq|safe }}
								{{ Sa|safe }}
								{{ Na|safe }}
								{{ Li|safe }}
							],
							color:[
								{{Ms_c|safe}}
								{{Aq_c|safe}}
								{{Sa_c|safe}}
								{{Na_c|safe}}
								{{Li_c|safe}}
							]
						},
						{
							name: 'Access From',
							type: 'pie',
							radius: ['45%', '60%'],
							data: [
								// { value: 1048, name: 'Baidu' },
								{{ Nitta_Emi|safe }}
								{{ Nanjo_Yoshino|safe }}
								{{ Uchida_Aya|safe }}
								{{ Mimori_Suzuko|safe }}
								{{ Iida_Riho|safe }}
								{{ Pile|safe }}
								{{ Kusuda_Aina|safe }}
								{{ Kubo_Yurika|safe }}
								{{ Tokui_Sora|safe }}
								{{ Inami_Anju|safe }}
								{{ Aida_Rikako|safe }}
								{{ Suwa_Nanaka|safe }}
								{{ Komiya_Arisa|safe }}
								{{ Saito_Shuka|safe }}
								{{ Kobayashi_Aika|safe }}
								{{ Takatsuki_Kanako|safe }}
								{{ Suzuki_Aina|safe }}
								{{ Furihata_Ai|safe }}
							],
							color:[
								{{ Nitta_Emi_c|safe }}
								{{ Nanjo_Yoshino_c|safe }}
								{{ Uchida_Aya_c|safe }}
								{{ Mimori_Suzuko_c|safe }}
								{{ Iida_Riho_c|safe }}
								{{ Pile_c|safe }}
								{{ Kusuda_Aina_c|safe }}
								{{ Kubo_Yurika_c|safe }}
								{{ Tokui_Sora_c|safe }}
								{{ Inami_Anju_c|safe }}
								{{ Aida_Rikako_c|safe }}
								{{ Suwa_Nanaka_c|safe }}
								{{ Komiya_Arisa_c|safe }}
								{{ Saito_Shuka_c|safe }}
								{{ Kobayashi_Aika_c|safe }}
								{{ Takatsuki_Kanako_c|safe }}
								{{ Suzuki_Aina_c|safe }}
								{{ Furihata_Ai_c|safe }}
							]
						}
					]
				};
				option && myChart.setOption(option);
			</script>
			<div class="sevencol last">
				<h2></h2>
				<h2></h2>
				<h2>总分： {{ total_point }}</h2>
				<h2></h2>
				<div style="text-align: left;">
					<p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>	
					<p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴巴拉巴拉巴拉</p>	
					<p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>	
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="threecol">
			</div>
			<div class="sixcol">
			</div>
			<div class="threecol last"  style="text-align: right;">
				<p>Three columns</p>
			</div>
		</div>
	</div>


</body>

</html>