<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>The 1140px Grid &middot; Fluid down to mobile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../static/css/1140.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="../static/css/styles.css" type="text/css" media="screen" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <style type="text/css">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background: #F8F8F5;
        }
        .container h2 {
            line-height: 60px;
            margin: 20px 0 0 0;
        }
        .container h1 {
            line-height: 80px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="fivecol">
                <h1 style="margin: 0 200 0 0;">鉴定报告</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="twelvecol">
                <hr style="border:1px solid #999; float:right; width:95%;" />
            </div>
        </div>
    </div>
	<div class="container">
		<div class="row">
			<div id="main" class="fivecol" style="width: 400px;height:400px;"></div>
			<script type="text/javascript">
				var Pie = document.getElementById('main');
				var myChart = echarts.init(Pie);
				var option;
				option = {
					tooltip: {
						trigger: 'item',
						formatter: '{b}: {c} ({d}%)'
						// formatter: '{a} <br/>{b}: {c} ({d}%)'
					},
					series: [
						{
							name: 'Access From',
							type: 'pie',
							selectedMode: 'single',
							radius: [0, '30%'],
							label: {
								position: 'inner',
								fontSize: 10
							},
							legend: {
								show: false
							},
							labelLine: {
								show: false
							},
							data: [
								// { value: 679, name: 'Marketing', selected: true },
								{{ Ms|safe }}
								{{ Aq|safe }}
								{{ Sa|safe }}
								{{ Na|safe }}
								{{ Li|safe }}
							],
							color:[
								{{Ms_c|safe}}
								{{Aq_c|safe}}
								{{Sa_c|safe}}
								{{Na_c|safe}}
								{{Li_c|safe}}
							]
						},
						{
							name: 'Access From',
							type: 'pie',
							radius: ['45%', '60%'],
							data: [
								// { value: 1048, name: 'Baidu' },
								{{ Nitta_Emi|safe }}
								{{ Nanjo_Yoshino|safe }}
								{{ Uchida_Aya|safe }}
								{{ Mimori_Suzuko|safe }}
								{{ Iida_Riho|safe }}
								{{ Pile|safe }}
								{{ Kusuda_Aina|safe }}
								{{ Kubo_Yurika|safe }}
								{{ Tokui_Sora|safe }}
								{{ Inami_Anju|safe }}
								{{ Aida_Rikako|safe }}
								{{ Suwa_Nanaka|safe }}
								{{ Komiya_Arisa|safe }}
								{{ Saito_Shuka|safe }}
								{{ Kobayashi_Aika|safe }}
								{{ Takatsuki_Kanako|safe }}
								{{ Suzuki_Aina|safe }}
								{{ Furihata_Ai|safe }}
								{{ Sato_Hinata|safe }}
								{{ Tano_Asami|safe }}
								{{ Onishi_Aguri|safe }}
								{{ Sagara_Mayu|safe }}
								{{ Maeda_Kaori|safe }}
								{{ Kubota_Miyu|safe }}
								{{ Murakami_Natsumi|safe }}
								{{ Kito_Akari|safe }}
								{{ Kusunoki_Tomori|safe }}
								{{ Sashide_Maria|safe }}
								{{ Tanaka_Chiemi|safe }}
								{{ Koizumi_Moeka|safe }}
								{{ Uchida_Shu|safe }}
								{{ Houmoto_Akina|safe }}
								{{ Yano_Hinaki|safe }}
								{{ Date_Sayuri|safe }}
								{{ Liyuu|safe }}
								{{ Misaki_Nako|safe }}
								{{ Payton_Naomi|safe }}
								{{ Aoyama_Nagisa|safe }}
							],
							color:[
								{{ Nitta_Emi_c|safe }}
								{{ Nanjo_Yoshino_c|safe }}
								{{ Uchida_Aya_c|safe }}
								{{ Mimori_Suzuko_c|safe }}
								{{ Iida_Riho_c|safe }}
								{{ Pile_c|safe }}
								{{ Kusuda_Aina_c|safe }}
								{{ Kubo_Yurika_c|safe }}
								{{ Tokui_Sora_c|safe }}
								{{ Inami_Anju_c|safe }}
								{{ Aida_Rikako_c|safe }}
								{{ Suwa_Nanaka_c|safe }}
								{{ Komiya_Arisa_c|safe }}
								{{ Saito_Shuka_c|safe }}
								{{ Kobayashi_Aika_c|safe }}
								{{ Takatsuki_Kanako_c|safe }}
								{{ Suzuki_Aina_c|safe }}
								{{ Furihata_Ai_c|safe }}
								{{ Sato_Hinata_c|safe }}
								{{ Tano_Asami_c|safe }}
								{{ Onishi_Aguri_c|safe }}
								{{ Sagara_Mayu_c|safe }}
								{{ Maeda_Kaori_c|safe }}
								{{ Kubota_Miyu_c|safe }}
								{{ Murakami_Natsumi_c|safe }}
								{{ Kito_Akari_c|safe }}
								{{ Kusunoki_Tomori_c|safe }}
								{{ Sashide_Maria_c|safe }}
								{{ Tanaka_Chiemi_c|safe }}
								{{ Koizumi_Moeka_c|safe }}
								{{ Uchida_Shu_c|safe }}
								{{ Houmoto_Akina_c|safe }}
								{{ Yano_Hinaki_c|safe }}
								{{ Date_Sayuri_c|safe }}
								{{ Liyuu_c|safe }}
								{{ Misaki_Nako_c|safe }}
								{{ Payton_Naomi_c|safe }}
								{{ Aoyama_Nagisa_c|safe }}
							]
						}
					]
				};
				option && myChart.setOption(option);
			</script>
			<div class="sevencol last">
				<h2 style="text-align: left;">DD指数： {{ total_point }}</h2>
				<div style="text-align: left;">
					<p>{{ user_id }}的DD之心由：</p>
					<p style="color: {{ Nitta_Emi_rc|safe }}">{{ Nitta_Emi_i|safe }} </p>
					<p style="color: {{ Nanjo_Yoshino_rc|safe }}">{{ Nanjo_Yoshino_i|safe }} </p>
					<p style="color: {{ Uchida_Aya_rc|safe }}">{{ Uchida_Aya_i|safe }} </p>
					<p style="color: {{ Mimori_Suzuko_rc|safe }}">{{ Mimori_Suzuko_i|safe }} </p>
					<p style="color: {{ Iida_Riho_rc|safe }}">{{ Iida_Riho_i|safe }} </p>
					<p style="color: {{ Pile_rc|safe }}">{{ Pile_i|safe }} </p>
					<p style="color: {{ Kusuda_Aina_rc|safe }}">{{ Kusuda_Aina_i|safe }} </p>
					<p style="color: {{ Kubo_Yurika_rc|safe }}">{{ Kubo_Yurika_i|safe }} </p>
					<p style="color: {{ Tokui_Sora_rc|safe }}">{{ Tokui_Sora_i|safe }} </p>
					<p style="color: {{ Inami_Anju_rc|safe }}">{{ Inami_Anju_i|safe }} </p>
					<p style="color: {{ Aida_Rikako_rc|safe }}">{{ Aida_Rikako_i|safe }} </p>
					<p style="color: {{ Suwa_Nanaka_rc|safe }}">{{ Suwa_Nanaka_i|safe }} </p>
					<p style="color: {{ Komiya_Arisa_rc|safe }}">{{ Komiya_Arisa_i|safe }} </p>
					<p style="color: {{ Saito_Shuka_rc|safe }}">{{ Saito_Shuka_i|safe }} </p>
					<p style="color: {{ Kobayashi_Aika_rc|safe }}">{{ Kobayashi_Aika_i|safe }} </p>
					<p style="color: {{ Takatsuki_Kanako_rc|safe }}">{{ Takatsuki_Kanako_i|safe }} </p>
					<p style="color: {{ Suzuki_Aina_rc|safe }}">{{ Suzuki_Aina_i|safe }} </p>
					<p style="color: {{ Furihata_Ai_rc|safe }}">{{ Furihata_Ai_i|safe }} </p>
					<p style="color: {{ Sato_Hinata_rc|safe }}">{{ Sato_Hinata_i|safe }} </p>
					<p style="color: {{ Tano_Asami_rc|safe }}">{{ Tano_Asami_i|safe }} </p>
					<p style="color: {{ Onishi_Aguri_rc|safe }}">{{ Onishi_Aguri_i|safe }} </p>
					<p style="color: {{ Sagara_Mayu_rc|safe }}">{{ Sagara_Mayu_i|safe }} </p>
					<p style="color: {{ Maeda_Kaori_rc|safe }}">{{ Maeda_Kaori_i|safe }} </p>
					<p style="color: {{ Kubota_Miyu_rc|safe }}">{{ Kubota_Miyu_i|safe }} </p>
					<p style="color: {{ Murakami_Natsumi_rc|safe }}">{{ Murakami_Natsumi_i|safe }} </p>
					<p style="color: {{ Kito_Akari_rc|safe }}">{{ Kito_Akari_i|safe }} </p>
					<p style="color: {{ Kusunoki_Tomori_rc|safe }}">{{ Kusunoki_Tomori_i|safe }} </p>
					<p style="color: {{ Sashide_Maria_rc|safe }}">{{ Sashide_Maria_i|safe }} </p>
					<p style="color: {{ Tanaka_Chiemi_rc|safe }}">{{ Tanaka_Chiemi_i|safe }} </p>
					<p style="color: {{ Koizumi_Moeka_rc|safe }}">{{ Koizumi_Moeka_i|safe }} </p>
					<p style="color: {{ Uchida_Shu_rc|safe }}">{{ Uchida_Shu_i|safe }} </p>
					<p style="color: {{ Houmoto_Akina_rc|safe }}">{{ Houmoto_Akina_i|safe }} </p>
					<p style="color: {{ Yano_Hinaki_rc|safe }}">{{ Yano_Hinaki_i|safe }} </p>
					<p style="color: {{ Date_Sayuri_rc|safe }}">{{ Date_Sayuri_i|safe }} </p>
					<p style="color: {{ Liyuu_rc|safe }}">{{ Liyuu_i|safe }} </p>
					<p style="color: {{ Misaki_Nako_rc|safe }}">{{ Misaki_Nako_i|safe }} </p>
					<p style="color: {{ Payton_Naomi_rc|safe }}">{{ Payton_Naomi_i|safe }} </p>
					<p style="color: {{ Aoyama_Nagisa_rc|safe }}">{{ Aoyama_Nagisa_i|safe }} </p>
					<p>构成</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="threecol">
			</div>
			<div class="sixcol">
			</div>
			<div class="threecol last"  style="text-align: right;">
				<p>Three columns</p>
			</div>
		</div>
	</div>


</body>

</html>