<html style="height: 100%" lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>验证</title>
    <script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.0-beta.7/vue.global.prod.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/element-plus/dist/index.full.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/dist/index.css">
    <link rel="stylesheet" href="../static/css/bbk.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body id="app" style="background: #F8F8F5;" data-v-app="">



    <meta charset="utf-8">
    <title>The 1140px Grid · Fluid down to mobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/1140.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../static/css/styles.css" type="text/css" media="screen">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
    <style type="text/css">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            background: #F8F8F5;
        }

        .container h2 {
            line-height: 60px;
            margin: 20px 0 0 0;
        }

        .container h1 {
            line-height: 80px;
        }
        .hr{ width:100%; height: 64px; line-height: 64px;}
        .hr{float:left; width: 25%; margin-top: 32px;}
        .hr_t{float:right; width: 25%;margin-top: 32px;}
    </style>



    <div class="container">
        <div class="row">
            <div class="fivecol">
                <h1 style="margin: 0 200 0 0;">鉴定报告</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="twelvecol">
                <hr style="border:1px solid #999; float:right; width:95%;" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="main" class="fivecol"
                style="width: 400px; height: 400px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;"
                _echarts_instance_="ec_1640700959888">
                <div
                    style="position: relative; width: 400px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
                    <canvas data-zr-dom-id="zr_0" width="400" height="400"
                        style="position: absolute; left: 0px; top: 0px; width: 400px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas>
                </div>
                <div class=""
                    style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgb(255, 255, 255); border-width: 1px; border-radius: 4px; color: rgb(102, 102, 102); font: 14px / 21px &quot;Microsoft YaHei&quot;; padding: 10px; top: 0px; left: 0px; transform: translate3d(132px, 178px, 0px); border-color: rgb(174, 174, 174); pointer-events: none; visibility: hidden; opacity: 0;">
                    小林爱香: 100 (100%)</div>
            </div>
            <script type="text/javascript">
                var Pie = document.getElementById('main');
                var myChart = echarts.init(Pie);
                var option;
                option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: '{b}: {c} ({d}%)'
                        // formatter: '{a} <br/>{b}: {c} ({d}%)'
                    },
                    series: [
                        {
                            name: 'Access From',
                            type: 'pie',
                            selectedMode: 'single',
                            radius: [0, '30%'],
                            label: {
                                position: 'inner',
                                fontSize: 10
                            },
                            legend: {
                                show: false
                            },
                            labelLine: {
                                show: false
                            },
                            data: [
                                // { value: 679, name: 'Marketing', selected: true },
                                { value: 1, name: "Aqours" },
                            ],
                            color: [
                                "#00A1E9",
                            ]
                        },
                        {
                            name: 'Access From',
                            type: 'pie',
                            radius: ['45%', '60%'],
                            data: [
                                // { value: 1048, name: 'Baidu' },
                                { value: 100.0, name: "小林爱香" },
                            ],
                            color: [
                                "#AEAEAE",
                            ]
                        }
                    ]
                };
                option && myChart.setOption(option);
            </script>
            <div class="sevencol last">
                <h2>企划热爱指数： 80.0</h2>
                <div style="text-align: left;">
                    <p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
                    <p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴巴拉巴拉巴拉</p>
                    <p>巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="threecol">
            </div>
            <div class="sixcol">
            </div>
            <div class="threecol last" style="text-align: right;">
                <p>Three columns</p>
            </div>
        </div>
    </div>




</body>

</html>